
.alert-panel {
    background-color: rgba(240, 65, 36, 0.67) !important;
}

.mistake {
    background-color: rgba(240, 65, 36, 0.5) !important;
    border: 2px solid #f04124 !important;
}

.success-panel {
    background-color: rgba(67, 172, 106, 0.67) !important;
}

.unavailable {
    display: none !important;
}